*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family:  Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.ancho{
  max-width: 1200px;
  margin: auto;

}
.imagen{
  width: 200px;
}